* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Manrope';
  font-weight: 100;
  overflow-x: hidden;
  overflow-y: scroll !important;
  padding: 0 !important;
  color: #272726;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272726;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fs-18 {
  font-size: 18px;
}

.text_gray {
  color: #939393;
}

.text_orange {
  color: #EA5D11;
}

.text_secondary {
  color: #212121
}

.bg_secondary {
  background-color: #F1F1F3;
}

.common_section {
  padding: 50px 0 0;
}

.font-playfair {
  font-family: 'Playfair-Display';
}

.font-raleway {
  font-family: 'Raleway';
}

.btn {
  color: #272726;
}

.container {
  max-width: 92%;
}

/* header css */

header {
  z-index: 9999;
  transition: all 0.5s ease;
}

@keyframes header_animation {
  from {
    top: -90px;
  }

  to {
    top: 0px;
  }
}

header.scroll_header {
  animation: header_animation 0.7s;
  position: fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header.scroll_header .main_navbar {
  padding: 12px 0px;
}

.scroll_header_padding {
  padding-top: 210px !important;
}

header.scroll_header .top_navbar {
  display: none;
}

header.scroll_header .sub_navbar {
  display: none;
}

.top_navbar {
  background-color: #EA5D11;
  transition: all 0.5s ease;
}

.main_navbar {
  padding: 20px 0px;
}

.my_account.dropdown-toggle::after {
  content: '';
  position: absolute;
  background: url('../images/down_arrow_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 10px;
  border: none;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

header .list-item:hover div.dropdown_div {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

header .dropdown_div {
  padding: 20px;
  min-height: 160px;
  border-radius: 0px;
  /* width: 100%; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  left: 50px;
  right: 50px;
  top: 205px;
}

.header_dropdown_btn::after {
  display: none;
}

.wishlist_dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 50px);
}

.cart_dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 50px);
}

.count {
  background: #ea5d11;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  border-radius: 100%;
  transform: translate(0%, -50%);
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  top: 1px;
  right: -4px;
}

.vertical_hr {
  display: block;
  background: #000;
  width: 1px;
  height: 30px;
}

.search_bar {
  background-color: #F1F1F3;
  padding: 18px 18px 18px 55px;
  border-radius: 5px;
}

header .form-group img {
  transform: translateY(-50%);
  top: 50%;
  left: 22px;
}

header .form-control:focus {
  background-color: #F1F1F3;
}

header .form-group {
  width: 47%;
}

header .search_dropdown .btn::after {
  display: none;
}

.search_recommendation {
  display: none;
  transition: all 0.8s ease-in-out;
  z-index: 99;
  bottom: -65px;
  background: #f1f1f3;
}

.activated {
  display: block !important;
}

header .search_dropdown .dropdown-menu {
  min-width: 260px;
  transform: translate(-50%, -50%) !important;
  top: 55px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: -65px !important;
}

.search_dropdown_li {
  display: none;
}

.sub_navbar {
  transition: all 0.5s ease;
}

.sub_navbar ul.border-top {
  border-color: #707070 !important;
}

.sub_navbar .list-item>a {
  font-weight: 600;
  color: #272726;
}

.sub_navbar .product_links {
  padding: 10px 15px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  color: #272726;
}

.sub_navbar .product_links:hover {
  background: #9b9b9b85;
}

.header_dropdown {
  width: max-content;
  padding: 0;
  /* border: 1px solid #707070; */
  color: #272726;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header_dropdown a:hover {
  background: #9b9b9b85;
}

.header_dropdown .content_wrapper {
  max-height: 500px;
  overflow-y: scroll;
}

.cart_content_wrapper {
  overflow-y: scroll;
  max-height: 255px;
}

.header_dropdown .btn {
  font-size: 18px;
  border: 1px solid #939393;
  padding: 14px;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.4s ease;
}

.view_cart_btn {
  color: #939393;
}

.view_cart_btn:hover {
  border-color: #EA5D11;
  color: #EA5D11;
  background-color: #fff;
}

.checkout_btn {
  color: #fff;
  background-color: #EA5D11;
  border-color: transparent !important;
}

.checkout_btn:hover {
  border-color: #EA5D11 !important;
  color: #EA5D11;
  background-color: #fff;
}

.top_navbar .account_dropdown li:hover a {
  color: #EA5D11;
  background-color: unset;
}

.top_navbar .account_dropdown {
  border-radius: 4px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  top: 10px !important;
}

.top_navbar .account_dropdown i {
  color: #939393;
}

.offcanvas.offcanvas-start {
  width: 370px;
}

.offcanvas .accordion-button::after {
  background: url('../images/plus_icon.png');
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.offcanvas .accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}

.offcanvas .accordion-collapse .accordion-button {
  padding: 8px 14px 8px 30px;
  font-weight: 500;
}

.offcanvas .product_links a {
  display: block;
  padding: 6px 40px 6px;
  font-weight: 400;
  color: #272726;
}

.offcanvas .product_links:hover {
  background: #F1F1F3;
}

/* 
.accordion-button:not(.collapsed) {
  background-color: #c0c0c0 !important;
}

.list_items:not(.collapsed) {
  background-color: #37343485 !important;
}

.offcanvas .accordion-button:not(.collapsed)::after {
  background: #000;
} 
*/
.offcanvas .accordion-button {
  color: #272726 !important;
}

.offcanvas .accordion-button {
  box-shadow: none !important;
  background: #fff;
}

.offcanvas .accordion-button:hover {
  background: #F1F1F3;
}

.offcanvas .list_items {
  padding: 8px 14px;
  /* font-size: 18px; */
  font-weight: 600;
}

/* banner section css */

.banner_section .carousel-item.carousel_1 {
  background: url('../images/banner_bg.png');
}

.banner_section .carousel-item.carousel_2 {
  background: url('../images/banner_demo_bg_1.png');
}

.banner_section .carousel-item.carousel_3 {
  background: url('../images/banner_demo_bg_2.jpg');
}

@keyframes carousel_animation {
  0% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(0px);
  }
}

.carousel-item.active h1 {
  animation: carousel_animation 0.6s;
}

.carousel-item.active h2,
.carousel-item.active .shop_now {
  animation: carousel_animation 0.9s;
}

.banner_section .carousel-item {
  opacity: 0.6;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.banner_section .carousel-indicators button {
  margin: 0;
  border-radius: 5px;
  border: none;
  height: 10px;
}

.banner_section .carousel-indicators .active {
  background: #000;
}

.banner_section h2 {
  font-size: 40px;
  font-weight: 100;
}

.banner_section h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}


.banner_content {
  padding: 11rem 0 11rem 5rem;
}

.banner_section .carousel-indicators {
  margin-left: 9.5rem;
}

.shop_now {
  font-size: 20px;
  font-weight: 600;
  color: #272726;
  transition: all 0.4s ease;
}

.shop_now:hover {
  color: #EA5D11;
}

/* cards section css */
.cards_section .card {
  border: none;
  border-radius: 5px;
  padding: 70px 25px;
  transition: all 0.5s ease;
}

.cards_section .card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cards_section .card:hover .shop_now {
  color: #EA5D11;
}

.cards_section .card span {
  font-size: 23px;
  font-weight: 500;
}

.cards_section .card h5 {
  font-size: 32px;
  font-weight: 700;
}

.new_season_card_1 {
  background: url('../images/modal.png'), #F6FCFF;
  background-repeat: no-repeat;
  background-position: 94% top, center;
  background-size: contain;
}

.new_season_card_2 {
  background: url('../images/modal_2.png'), #E6E1E2;
  background-repeat: no-repeat;
  background-position: 6% top, center;
  background-size: contain;
}

.heading h2 {
  font-weight: 700;
}

.center_line::after {
  content: '';
  position: absolute;
  background: #EA5D11;
  width: 100px;
  height: 4px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.left_line::after {
  content: '';
  position: absolute;
  background: #EA5D11;
  width: 100px;
  height: 4px;
  bottom: -8px;
  left: 0;
  border-radius: 5px;
}

.product_card {
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.product_card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.product_card button.position-absolute {
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 0;
  border-radius: 100%;
  right: 16px;
  top: 16px;
  border: none;
  transition: all 0.7s ease;
}

.product_card .hover_show_img {
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-5%);
  position: absolute;
  transition: all 0.7s ease-in-out;
}

.product_card:hover .hover_show_img {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.product_card .add_to_wishlist_btn img {
  transition: all 0.7s ease;
}

.product_card .add_to_wishlist_btn:active,
.product_card .add_to_wishlist_btn:hover,
.product_card .add_to_wishlist_btn.added {
  background-color: #EA5D11;
}

.product_card .add_to_wishlist_btn:active img,
.product_card .add_to_wishlist_btn:hover img,
.product_card .add_to_wishlist_btn.added img {
  filter: brightness(10);
}

.product_card .product_name {
  font-weight: 500;
  padding: 8px 10px 0px;
  color: #272726;
}

.product_card .product_price {
  padding: 2px 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #EA5D11;
}

.product_card .product_price .prev_price {
  color: #939393;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 0px 10px;
}

.product_card .add_to_cart_btn {
  border: 1px solid #939393;
  color: #939393;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 10px;
  transition: all 0.7s ease;
}

.product_card:hover .add_to_cart_btn {
  color: #fff;
  background: #EA5D11;
  border-color: #EA5D11;
}

.add_to_cart_btn.added {
  background-color: #EA5D11;
  border-color: #EA5D11;
  color: #fff;
}

/* special products section css */

.special_products_section {
  padding-top: 70px;
}

.special_products_section .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #EA5D11;
  background: unset;
}

.special_products_section .nav-link:focus,
.nav-link:hover {
  color: #939393;
}

.special_products_section .border-top {
  border-color: #939393 !important;
}

/* deal of the week cards section css */
.deals_cards_section {
  padding-bottom: 50px;
}

.deals_cards_section .card {
  border: none;
  border-radius: 4px;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  transition: all 0.3s ease;
}

.deals_cards_section .card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.deals_cards_section .card:hover .shop_now {
  color: #EA5D11 !important;
}

.deal_card_1 {
  background: url('../images/watch_img.png');
}

.deal_card_2 {
  background: url('../images/card_bg.png');
}

#clock1 {
  font-size: 30px;
  font-weight: 500;
}

.deals_cards_section .card h3 {
  font-size: 24px;
}

/* trending products section css */

.trending_products_section {
  padding-bottom: 50px;
  background-color: #EDEDED;
}

.trending_products_section .product_card {
  background-color: transparent;
}

.trending_products_section .swiper-button-next,
.trending_products_section .swiper-button-prev {
  top: 0;
}

.trending_products_section .swiper-button-next::after,
.trending_products_section .swiper-button-prev::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 26px;
  font-weight: 600;
}

.trending_products_section .swiper-button-next::after {
  right: -50px;
}

.trending_products_section .swiper-button-prev::after {
  left: -50px;
}

/* footer css */

footer {
  font-size: 14px;
}

footer .quick_links {
  width: max-content;
}

footer .quick_links li a {
  color: #939393;
  font-weight: 500
}

footer .quick_links li a:hover {
  color: #EA5D11;
}

footer .quick_links h6 {
  font-weight: 700;
}

footer .border-top {
  border-color: #707070 !important;
}

/* product details page css */

.page_navigation a:hover {
  color: #EA5D11;
}

.product_detail_page_btn .btn {
  background: #EA5D11;
  padding: 10px 22px;
}

.product_detail_page_btn .btn:active,
.product_detail_page_btn .btn:hover {
  background: #ff9320;
}

.product_img_div {
  background-color: #D8DCDD;
}

.product_details_card .nav-item {
  transition: all 0.4s ease;
}

.product_details_card .sticky-top {
  top: 95px;
}

.product_details_card .nav-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_data tr td {
  vertical-align: top;
}

.size_dropdown {
  width: 80px;
  outline: none !important;
}

.color_options a {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.color_options .color-1 {
  background: #252727;
}

.color_options .color-2 {
  background: #252C47;
}

.color_options .color-3 {
  background: #284D66;
}

.color_options .color-4 {
  background: #284432;
}

.color_options .color-5 {
  background: #048A69;
}

.color_options .color-6 {
  background: #A1C2EB;
}

.color_options .color-7 {
  background: #E5E8E6;
}

.color_options .color-8 {
  background: #572138;
}

.about_product li.position-relative::before {
  content: '';
  background: #EA5D11;
  border-radius: 100%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: -16px;
  top: 9px;
}

.terms_card {
  background: #F1F1F3;
  font-size: 14px;
}

/* 
.magnifier{
  width: 120px;
  height: 120px;
  background-color: #d5991e38;
}
                              
.magnified_image{
  width: 450px;
  height: 450px;
  top: 0;
  left: 0;
  background-color: #d5991e38;
} */

/* cart page css */

.cart_table_heading_row {
  background: #F1F1F3;
}

.cart_table th {
  padding: 12px;
}

.cart_table td {
  padding: 24px 0;
  min-width: 100px;
}

.cart_table tbody tr:hover {
  background: #9b9b9b85;
}

.product_title_td {
  min-width: 300px !important
}


.total_amount_card {
  background: #F1F1F3;
}

.total_amount_card .btn {
  padding: 10px 0;
}

.radio-item label {
  background: #F7F7F7;
  padding: 20px 20px 20px 36px;
}

.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 100%;
  left: 18px;
  top: 33px;
  transform: translate(-50%, -50%);
}

.payment_div .radio-item label::after,
.payment_div .radio-item label::before {
  top: 32px;
  left: 17px;
}

.payment_div {
  background-color: #F7F7F7;
}

.radio-item label:after {
  min-height: 16px;
  min-width: 16px;
  border: 1px solid #868686;

}

.radio-item label:before {
  background: #EA5D11;
  min-height: 9px;
  min-width: 9px;
  transition: .4s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}

.radio-item [type="radio"]:checked~label:before {
  opacity: 1;
  visibility: visible;
}

.radio-item [type="radio"]:checked~label:after {
  border: 1px solid #EA5D11;
}

.address_div .btn {
  width: max-content;
  padding: 16px 50px;
}

.redeem_div {
  background: #F7F7F7;
}

/* sign up page css */

.sign_up_form .form-control {
  padding: 12px;
  box-shadow: none;
  border-radius: 4px;
}

.sign_up_form .form-control:focus {
  border-color: #EA5D11;
}

.sign_up_form .btn {
  background: #EA5D11;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}

.sign_up_form .btn:hover {
  background: #ff9320;
}

.form-check-input:checked {
  background-color: #EA5D11;
  border-color: #EA5D11;
}

.form-check-input:focus {
  border-color: #EA5D11;
}

.form-check-input {
  height: 18px;
  width: 18px;
  border-radius: 4px !important;
  cursor: pointer;
}

.common_card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

::selection {
  color: #fff;
  /* background: #ff9320; */
  background: #EA5D11;
}

.otp-input {
  width: 60px;
  height: 60px;
  text-align: center;
}

.profile_row .nav-link {
  text-align: justify;
  width: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #272726;
  padding: 0;
  font-weight: 600;
  /* font-size: 18px; */
}

.profile_row .nav-link.active {
  color: #EA5D11;
  background-color: #fff;
}

.profile_row .nav-link:hover {
  color: #EA5D11;
}

.profile_row .position-sticky {
  top: 105px;
}

.profile_row .btn {
  background-color: #EA5D11;
  color: #fff;
  padding: 8px 30px;
}

.profile_row .form-control,
.profile_row .form-select {
  padding: 12px;
  box-shadow: none;
  border-radius: 4px;
}

.profile_row .form-control:focus,
.profile_row .form-select:focus {
  border-color: #EA5D11;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.orders_card{
  background-color: #fff;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  border-radius: 10px;
}

.orders_card .card_header{
  background:  #F1F1F3;
}

.wallet_details_card{
  background-color: #F1F1F3;
}

.add_address{
  border: 2px dashed #939393;
  color: #939393;
  font-size: 18px;
}

.address_col .btn {
  border: 1px solid transparent;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.address_col .secondary_btn{
  background-color: #fff;
  border-color: #EA5D11;
  color: #EA5D11;
}

.rating_ul svg{
  color: #9b9b9b85;
  cursor: pointer;
}

.rating_ul .golden_color svg{
  color: goldenrod;
}

.reviews_card ul.position-absolute{
  right: 0;
  top: 50px;
  color: #EA5D11;
}

.reviews_card{
  border-radius: 0;
  padding: 20px;
}

.reviews_card:hover{
  background: #F1F1F3;
}